.btn
  display: inline-block
  cursor: pointer
  text-align: center
  border-color: transparent
  &-main
    @extend .btn
    color: $white
    background-color: $mainColor
    &:hover
      background: $accentColor
  &-black
    @extend .btn
    color: $white
    background-color: $black
    &:hover
      background: $accentColor
