.page-header
  background: url(../images/qa.png) no-repeat center / cover
  height: 304px
  @include smDown
    height: 143px
    margin-top: 157px
  &__title
    font-size: 64px
    line-height: 90px
    @include mdDown
      font-size: 48px
      line-height: 68px
    @include smDown
      font-size: 28px
      line-height: 40px
  &__icon
    height: 58px
    margin-bottom: 12px
    @include mdDown
      height: 48px
      margin-bottom: 10px
    @include smDown
      height: 24px
      margin-bottom: 6px
